<h1>作成した問題:<%= @numpre.title %></h1>

<br>
<br>

<table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
    <tbody>
        <tr>
            <td>
                <table width="110" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                    <tbody>
                        <tr>
                            <td  bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number1 %></td>
                            <td  bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number2 %></td>
                            <td  bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number3 %></td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number4 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number5 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number6 %></td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number7 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number8 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number9 %></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>