
<%= stylesheet_link_tag 'numpre' %>
<%= javascript_include_tag "numpre.js" %>
<% @element_a = ElementA.find_by(numpre_id: params[:id]) %>
<% @element_b = ElementB.find_by(numpre_id: params[:id]) %>
<% @element_c = ElementC.find_by(numpre_id: params[:id]) %>
<% @element_d = ElementD.find_by(numpre_id: params[:id]) %>
<% @element_e = ElementE.find_by(numpre_id: params[:id]) %>
<% @element_f = ElementF.find_by(numpre_id: params[:id]) %>
<% @element_g = ElementG.find_by(numpre_id: params[:id]) %>
<% @element_h = ElementH.find_by(numpre_id: params[:id]) %>
<% @element_i = ElementI.find_by(numpre_id: params[:id]) %>
<p>Title</p>
<h1><%= "#{@numpre.title}" %></h1>
<div>
    <% if @numpre.user_id %>
        <%= link_to "#{@numpre.creater}さんのページ","/users/#{@numpre.user_id}/show" %>
    <% end %>
</div>
<br>
<div class="game_panel">
    <table  class="numpre_panel"> 
        <tbody>
            <tr class="game_line">
                <td class="number_cell"><%= @element_a.a_a %></td>
                <td class="number_cell"><%= @element_a.a_b %></td>
                <td class="number_cell"><%= @element_a.a_c %></td>
                <td class="number_cell"><%= @element_a.a_d %></td>
                <td class="number_cell"><%= @element_a.a_e %></td>
                <td class="number_cell"><%= @element_a.a_f %></td>
                <td class="number_cell"><%= @element_a.a_g %></td>
                <td class="number_cell"><%= @element_a.a_h %></td>
                <td class="number_cell"><%= @element_a.a_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell"><%= @element_b.b_a %></td>
                <td class="number_cell"><%= @element_b.b_b %></td>
                <td class="number_cell"><%= @element_b.b_c %></td>
                <td class="number_cell"><%= @element_b.b_d %></td>
                <td class="number_cell"><%= @element_b.b_e %></td>
                <td class="number_cell"><%= @element_b.b_f %></td>
                <td class="number_cell"><%= @element_b.b_g %></td>
                <td class="number_cell"><%= @element_b.b_h %></td>
                <td class="number_cell"><%= @element_b.b_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_a %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_b %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_c %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_d %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_e %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_f %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_g %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_h %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_c.c_i %></td>
            </tr>
            <tr class="game_line" >
                <td class="number_cell" ><%= @element_d.d_a %></td>
                <td class="number_cell" ><%= @element_d.d_b %></td>
                <td class="number_cell" ><%= @element_d.d_c %></td>
                <td class="number_cell" ><%= @element_d.d_d %></td>
                <td class="number_cell" ><%= @element_d.d_e %></td>
                <td class="number_cell" ><%= @element_d.d_f %></td>
                <td class="number_cell" ><%= @element_d.d_g %></td>
                <td class="number_cell" ><%= @element_d.d_h %></td>
                <td class="number_cell" ><%= @element_d.d_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell"><%= @element_e.e_a %></td>
                <td class="number_cell"><%= @element_e.e_b %></td>
                <td class="number_cell"><%= @element_e.e_c %></td>
                <td class="number_cell"><%= @element_e.e_d %></td>
                <td class="number_cell"><%= @element_e.e_e %></td>
                <td class="number_cell"><%= @element_e.e_f %></td>
                <td class="number_cell"><%= @element_e.e_g %></td>
                <td class="number_cell"><%= @element_e.e_h %></td>
                <td class="number_cell"><%= @element_e.e_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_a %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_b %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_c %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_d %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_e %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_f %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_g %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_h %></td>
                <td class="number_cell" style="border-bottom:2px solid black;"><%= @element_f.f_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell"><%= @element_g.g_a %></td>
                <td class="number_cell"><%= @element_g.g_b %></td>
                <td class="number_cell"><%= @element_g.g_c %></td>
                <td class="number_cell"><%= @element_g.g_d %></td>
                <td class="number_cell"><%= @element_g.g_e %></td>
                <td class="number_cell"><%= @element_g.g_f %></td>
                <td class="number_cell"><%= @element_g.g_g %></td>
                <td class="number_cell"><%= @element_g.g_h %></td>
                <td class="number_cell"><%= @element_g.g_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell"><%= @element_h.h_a %></td>
                <td class="number_cell"><%= @element_h.h_b %></td>
                <td class="number_cell"><%= @element_h.h_c %></td>
                <td class="number_cell"><%= @element_h.h_d %></td>
                <td class="number_cell"><%= @element_h.h_e %></td>
                <td class="number_cell"><%= @element_h.h_f %></td>
                <td class="number_cell"><%= @element_h.h_g %></td>
                <td class="number_cell"><%= @element_h.h_h %></td>
                <td class="number_cell"><%= @element_h.h_i %></td>
            </tr>
            <tr class="game_line">
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_a %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_b %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_c %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_d %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_e %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_f %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_g %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_h %></td>
                <td class="number_cell" style="border-bottom:0;"><%= @element_i.i_i %></td>
            </tr>
        </tbody>
    </table>
</div>
<% current_user=User.find_by(id: session[:user_id]) %>

<% if current_user %>
    こんにちは
        <% if @numpre.user_id == current_user.id  %>
            <span>作者の</span>
        <% end %>
    <%= current_user.name %>さん。
<% else %>
    <div> あなたはゲストさんです。</div>
<% end %>


<div>
    <% if current_user %>
    <div>
        <% if Like.find_by(user_id:current_user.id, numpre_id:@numpre.id) %>
            <%= link_to 'お気に入りしてるよ',"/like/#{@numpre.id}/destroy",{method:"post"} %>
        <% else %>
            <%= link_to 'お気に入り',"/like/#{@numpre.id}",{method:"post"} %>
        <% end %>
    </div>
        <% if current_user.id == @numpre.user_id then %>
        <div>
        <%= link_to '編集', "/numpre/edit/#{@numpre.id}" %>
        <%= link_to '削除',"/numpre/destroy/#{@numpre.id}",{method:"post"}  %>
        </div>
        <% else %>
            <p>こちらの問題は別の人が作った物ですので、編集はできません</p>
        <% end %>
    <% else %>
        <p>ゲストさんは問題の編集はできません。</p>
    <% end %>
    
</div>
