<h1>作成した問題:
<% if @numpre.title.nil? %>
    <h2>名無し</h2>
<% else %>
    <%= @numpre.title %></h1>
<% end %>
<br>
<br>

<table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
    <tbody>
        <tr>
            <td>
                <table width="110" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                    <tbody>
                        <tr>
                            <td  bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number1 %></td>
                            <td  bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number2 %></td>
                            <td  bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number3 %></td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number4 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number5 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number6 %></td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number7 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number8 %></td>
                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @numpre.number9 %></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<% current_user=User.find_by(id: session[:user_id]) %>
<%= current_user.id %>
<p>kai</p>
<%= @numpre.user %>
<p>kaa</p>
<% if current_user %>
    <% if current_user.id == @numpre.user %>
        <span>こんにちは、問題の作者の</span>
    <% end %>
    "<%= current_user.name %>"さん。
<% else %>
    <div> あなたはゲストさんです。</div>
<% end %>

<div>
    <% if current_user.id == @numpre.user then %>
        <%= link_to '削除',"/numpre/destroy/#{@numpre.id}",{method:"post"}  %>
        <%= link_to '編集', "/numpre/edit/#{@numpre.id}" %>
    <% end %>
</div>

