
    
<% @element_a = ElementA.find_by(numpre_id: params[:id]) %>
<% @element_b = ElementB.find_by(numpre_id: params[:id]) %>
<% @element_c = ElementC.find_by(numpre_id: params[:id]) %>
<% @element_d = ElementD.find_by(numpre_id: params[:id]) %>
<% @element_e = ElementE.find_by(numpre_id: params[:id]) %>
<% @element_f = ElementF.find_by(numpre_id: params[:id]) %>
<% @element_g = ElementG.find_by(numpre_id: params[:id]) %>
<% @element_h = ElementH.find_by(numpre_id: params[:id]) %>
<% @element_i = ElementI.find_by(numpre_id: params[:id]) %>
<p>Title</p>


    <table align="center">
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_1">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_c %></td>
            
                                        </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_c %></td>
                                        </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_c %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_2">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_f %></td>
                                            </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_f %></td>
                                            </tr>
                                        <tr name="line_3" border="1" style="border-coll%apse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_f %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_3">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_a.a_i %></td>
                                        </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_b.b_i %></td>
                                        </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_c.c_i %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_4">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_c %></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_c %></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_c %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_5">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_f %></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_f %></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_f %></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_6">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_d.d_i %></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_e.e_i %></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_f.f_i %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_7">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_c %></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_c %></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_a %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_b %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_c %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_8">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_f %></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_f %></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_d %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_e %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_f %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_9">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_g.g_i %></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_h.h_i %></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_g %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_h %></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><%= @element_i.i_i %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>         
    </table>

